body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  	font-size: 20px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 10;
  	line-height: 26.4px;
    background-image: url("http://orig10.deviantart.net/1dfa/f/2017/141/c/8/tumblr_nnmiy7czzc1tgc7zro1_500__1__by_carbonated_stardust-dba15ng.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

h2, p, a {
  color: white;
}
/*https://68.media.tumblr.com/f4010cfb98342c6c2867c3ec672be5e7/tumblr_nupst4crK11txt22yo1_500.gif*/


/*https://il5.picdn.net/shutterstock/videos/22834417/thumb/1.jpg*/


/*http://68.media.tumblr.com/ea568d43430e0f881680e5cdb622a1b3/tumblr_inline_n258q4r8c01qhwjx8.png*/

/*https://68.media.tumblr.com/2541730b0632f36cf0aabf7da5814553/tumblr_nlq564uShW1rrweqzo1_1280.gif*/
/*http://orig10.deviantart.net/1dfa/f/2017/141/c/8/tumblr_nnmiy7czzc1tgc7zro1_500__1__by_carbonated_stardust-dba15ng.gif*/
/*https://68.media.tumblr.com/f4010cfb98342c6c2867c3ec672be5e7/tumblr_nupst4crK11txt22yo1_500.gif*/
/*https://ak2.picdn.net/shutterstock/videos/20339362/thumb/1.jpg*/
/*http://img10.deviantart.net/5dfa/i/2012/227/5/7/starry_night_by_silvervectors-d5b9n3c.png*/
/*https://cdn.pixabay.com/photo/2017/04/03/15/33/sky-2198716_960_720.jpg*/
/**/
/*https://static.tumblr.com/1d770b4e48a26787128568fd19f4bcbb/z6xi8qw/Y71o8q17h/tumblr_static_tumblr_static_5bvwuewbtfk0g88kwwokk4ooo_640.gif*/
